<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539761306642-mfg9qtf9dq0lprs3uijksof9dk9ocjlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539761306642-mfg9qtf9dq0lprs3uijksof9dk9ocjlc</string>
	<key>API_KEY</key>
	<string>AIzaSyC5UgrPXHiiWOoaTJK3-Lj0LjiTp3ZqyoE</string>
	<key>GCM_SENDER_ID</key>
	<string>539761306642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappLike</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-like-113a1</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-like-113a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539761306642:ios:19c53d987d9873e1b0fccb</string>
</dict>
</plist>